.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card {
  margin-top: 5rem;
  width: 40%;
  box-shadow: 4px 6px 13px -4px black;
  padding: 1rem;
}

input {
  width: 70%;
  font-size: 22px;
  border-radius: 5px;
  padding: 4px;
  margin: auto;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.btn {
  padding: 5px 11px;
  border-radius: 5px;
  background: #0f30df;
  color: white;
  font-size: 19px;
}

.text-center {
  text-align: center;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}
